footer{
 
	width: 100%; 
       
		.wrapper{
		background-color: black;
		opacity: 0.7;	
		}
	      
		h3{
		padding-top: 25px;
		color:white;
		font-family: 'Shrikhand'; 
		padding-left: 25px;
		}
	       
		li{
		color: white;
	    padding: 0px 0px 5px 25px;
	    }
      
	    ul{
	    padding-bottom: 30px;
	    padding-top: 20px;
	    }
    }
      