* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

h2 {
  padding-top: 30px;
}

pre {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: #f6f6f6;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

* a {
  text-decoration: none;
  color: white;
}

.menu__header {
  font-family: "Shrikhand", cursive;
}
.menu__header h4 {
  font-family: "Shrikhand", cursive;
}

.letter {
  font-family: "Shrikhand", "Sans serif";
}

/*heart*/
:root {
  --purple: #9356dc;
  --pink: #ff79da;
  --black: black;
  --colorGradient:linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
}

.icon {
  fill: transparent;
  stroke: var(--black);
  stroke-width: 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: -33px 20px;
  margin-top: 0px;
}
.icon svg {
  overflow: visible;
  width: 23px;
}
.icon path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}
.icon .heart-background {
  position: absolute;
  left: 0;
  right: 20px;
  z-index: -1;
  stroke: none;
}
.icon .heart-main:hover path {
  animation: stroke-animation 1s ease-in-out forwards;
}
.icon .heart-main:hover ~ .heart-background path {
  animation: fade-animation 1s ease-in-out forwards;
}

@keyframes stroke-animation {
  80% {
    fill: var(--pink);
  }
  100% {
    fill: var(--purple);
  }
}
/*menu gradient button*/
.menu__container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu__button {
  opacity: 1;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 16px 47px;
  margin: 50px 0;
  font-size: 14px;
}
.menu__button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

/*search gradient button*/
.search__btn {
  display: flex !important;
  border-radius: 200px;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-size: 16px;
  padding: 0 20px;
  margin: 12px 50px 30px 12px;
  height: 50px;
  color: white;
  font-weight: bold;
  margin: auto;
  align-items: center;
  justify-content: center;
  border: 0 !important;
  width: 217px;
}
.search__btn:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

/*header home*/
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: black;
  box-shadow: 0 4px 14px -3px darkgray;
  height: 62px;
  width: 100%;
  background: white;
}
.header img {
  width: 160px;
  padding-top: 12px;
}

/*header menu*/
.header .header__arrow-return {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 35px;
  top: 40%;
  font-size: 20px;
}
.header .header__arrow-return a {
  color: #000;
}
.header .header__logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
}
.header .header .header__logo a {
  color: #000;
}

footer {
  width: 100%;
}
footer .wrapper {
  background-color: black;
  opacity: 0.7;
}
footer h3 {
  padding-top: 25px;
  color: white;
  font-family: "Shrikhand";
  padding-left: 25px;
}
footer li {
  color: white;
  padding: 0px 0px 5px 25px;
}
footer ul {
  padding-bottom: 30px;
  padding-top: 20px;
}

/*search*/
.search__iconMap {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7a7a7a;
  margin-right: -11px;
  color: black;
  font-size: 12px;
  height: 30px;
}
.search__div input {
  color: black;
  border: none;
  margin-left: 30px;
  background-color: #EAEAEA;
  justify-content: center;
  font-size: 15px;
}
.search__main {
  width: 100%;
  height: 325px;
  background-color: #f6f7f8;
  margin-left: auto;
}
.search__div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0 8px 68px;
  font-size: 20px;
  background-color: #EAEAEA;
  font-weight: 400;
}
.search__container {
  align-items: center !important;
  justify-content: center;
}
.search__container h1 {
  margin-top: 35px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.search__container h2 {
  font-size: 18px;
  margin: -18px 11px 27px 11px;
  font-weight: lighter;
  text-align: center;
}

/*functioning*/
.functioning {
  width: 95%;
  max-width: 1200px;
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 390px;
}
.functioning__main {
  padding: 25px 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.functioning__title {
  margin: 0;
  margin-bottom: 20px;
}
.functioning__type {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: 68px;
  width: 320px;
  border-radius: 20px;
  position: relative;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 15px;
}
.functioning__type:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  background: white;
  background-color: #f5edff;
}
.functioning__type:hover .fas {
  color: #9356DC;
}
.functioning__number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 1px 6px 1px 6px;
  border-radius: 500px;
  transform: translateX(-50%);
}
.functioning__icon {
  color: #7E7E7E;
  margin: 0 35px;
  font-size: 7px;
}
.functioning__types {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.functioning__title h2 {
  margin-left: -12px;
}

/*restaurants*/
/* GRID-restaurant*/
#restaurant__main {
  display: grid;
  grid-gap: 25px;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  grid-template-areas: "title " "cardR1" "cardR2" "cardR3" "cardR4";
}

#restaurant__main h2 {
  grid-area: title;
}

#cardR1 {
  grid-area: cardR1;
}

#cardR2 {
  grid-area: cardR2;
}

#cardR3 {
  grid-area: cardR3;
}

#cardR4 {
  grid-area: cardR4;
}

#restaurant__main {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 67px;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  max-width: none;
  margin: 0px;
}
#restaurant__main h2 {
  font-weight: bold;
  padding-top: 45px;
}
#restaurant__main .restaurant__cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3%;
  margin-top: 2px;
  margin-left: 2px;
  color: black;
}

.restaurant__card {
  min-width: 280px;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 1px 2px 5px #c2c2c2;
  background-color: white;
  position: relative;
}
.restaurant__card img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.restaurant__card h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}
.restaurant__card p {
  font-size: 14px;
  margin-left: 10px;
  padding-top: 0px;
  color: black;
}
.restaurant__card .restaurant__new {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 5px 15px;
  position: absolute;
  top: 16px;
  right: 12px;
  font-size: 13px;
}

#restaurant__main #restaurant__cardR1, #restaurant__main #restaurant__cardR2, #restaurant__main #restaurant__cardR3, #restaurant__main #restaurant__cardR4 {
  height: 240px;
  width: 335px;
}
#restaurant__main .restaurant__imgContainer {
  height: 180px;
}

#restaurant__cardR1 .restaurant__imgContainer img {
  object-fit: cover;
  object-position: 50% 90%;
}

#restaurant__cardR2 .restaurant__imgContainer img {
  object-fit: cover;
  object-position: 40% 63%;
}

#restaurant__cardR3 .restaurant__imgContainer img {
  object-fit: cover;
  object-position: 50% 100%;
}

#restaurant__cardR4 .restaurant__imgContainer img {
  object-fit: cover;
  object-position: 50% 100%;
}

#restaurant__main.wrapper {
  margin: 0;
  margin-bottom: 57px;
}

#restaurant__main p h3 {
  font-size: 10px;
}

/**Media quieries**/
@media all and (min-width: 768px) {
  #restaurant__main {
    display: grid;
    grid-gap: 25px;
    grid-template-rows: 0fr 1fr;
    grid-template-areas: "title title" "cardR1 cardR2" "cardR3 cardR4";
    align-items: center;
    justify-content: center;
  }
}
@media all and (max-width: 767px) {
  #restaurant__main {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: auto repeat(4, 1fr);
    grid-template-areas: "title " "cardR1" "cardR2" "cardR3" "cardR4";
    justify-content: center;
    align-items: center;
  }
}
@media all and (min-width: 1024px) {
  .functioning__types {
    flex-direction: initial;
  }
}
@media all and (min-width: 1024px) {
  .functioning__type {
    margin-right: 25px;
  }
}
@media all and (min-width: 1024px) {
  .functioning {
    height: 240px;
  }
}
@media all and (min-width: 1024px) {
  .functioning__type {
    width: 290px;
  }
}
@media all and (min-width: 1024px) {
  .menu__grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
.img {
  width: 100%;
  height: 50vh;
}

.img__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#menu {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 30px 0 0;
  background-color: white;
  width: 100%;
  margin-top: -55px;
}

.menu {
  margin-top: -20px;
  padding: 0 20px;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
  width: 100%;
}
.menu__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu__header h4 {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
  margin-top: 24px;
}
.menu__grid {
  display: grid;
  grid-gap: 24px;
}
.menu__grid-bloc {
  display: grid;
  align-content: flex-start;
}
.menu__grid-title h3 {
  margin-bottom: 24px;
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 45px;
}
.menu__grid-title h3::after {
  content: "";
  width: 50px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}
.menu__grid-container {
  margin-bottom: 24px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
.menu__grid-container:hover .validation-box {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-left 0.5s ease;
  transform-origin: right;
}
.menu__grid-container:hover .menu__container-price {
  padding-right: 70px;
  transition: 0.5s ease;
}
.menu__grid-container .validation-box {
  display: none;
  position: absolute;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  right: 0px;
  padding: 0 13px;
  height: 100%;
  width: 30px;
}
.menu__grid-container .validation-box .circle {
  font-size: 20px;
  color: white;
  transform: rotate(180deg);
  animation: rotate 0.5s both;
}

@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu__dish-container-title {
  font-weight: bold;
}
.menu__dish-container {
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
}
.menu__dish-container p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__dish-container title {
  font-weight: bold;
}
.menu__container-price {
  padding-right: 20px;
  font-weight: bold;
  padding-left: 7px;
  padding-top: 18px;
}
.menu__dish-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*heart animations*/
.menu__header-heart .heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}
.menu__header-heart .heart-background {
  position: absolute;
}
.menu__header-heart .heart-main {
  position: relative;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu__grid-container {
  animation: opacity 1s both;
}

#container-1 {
  animation-delay: 0.1s;
}

#container-2 {
  animation-delay: 0.2s;
}

#container-3 {
  animation-delay: 0.3s;
}

#container-4 {
  animation-delay: 0.4s;
}

#container-5 {
  animation-delay: 0.5s;
}

#container-6 {
  animation-delay: 0.6s;
}

#container-7 {
  animation-delay: 0.7s;
}

#container-8 {
  animation-delay: 0.8s;
}

#container-9 {
  animation-delay: 0.9s;
}

#container-10 {
  animation-delay: 1s;
}

/*loader*/
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  z-index: 9999;
  animation: transition 3s ease both;
  margin: auto;
  position: fixed;
  background-color: white;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  animation: spinner 2s linear;
  visibility: hidden;
  opacity: 9999;
}

.letter {
  color: #FF79DA;
  font-size: 2rem;
  animation: flash 1s linear;
  justify-content: center;
  align-items: center;
}

@keyframes flash {
  100% {
    color: #FF79DA;
    text-shadow: 0 0 0.1rem #FF79DA;
    opacity: 0;
    visibility: hidden;
  }
  90% {
    color: #9356DC;
    text-shadow: 0 0 0.1rem #9356DC;
    opacity: 0.9;
  }
  50% {
    color: #9356DC;
    text-shadow: none;
    opacity: 0.9;
  }
  0% {
    color: #FF79DA;
    text-shadow: 0 0 0.5rem #FF79DA;
    visibility: visible;
    opacity: 0.9;
  }
}
.spinner__border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid transparent;
  border-top: 10px dotted #9356DC;
  border-bottom: 10px dotted #FF79DA;
  border-left: 10px dotted #99E2D0;
  border-right: 10px dotted white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spinner__border 2s linear;
  z-index: 10;
  visibility: hidden;
}

@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner__border {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
